@model ContatoModel
@{
    ViewData["Title"] = "Editar Contato";
}

<div class="text-center">

    <h1 class="display-4">Edição de Contato</h1>

</div>

<form asp-controller="Contato" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>

    <div class="form-group blockquote">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Informe seu nome">
    </div>

    <div class="form-group blockquote">
        <label for="email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Informe seu E-mail">
    </div>

    <div class="form-group blockquote">
        <label for="celular">Contato</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Informe seu número de contato">
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
    </div>

</form>